<%= form_with(model: pic) do |form| %>
  <% if pic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pic.errors.count, "error") %> prohibited this pic from being saved:</h2>

      <ul>
        <% pic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :newscore_id, style: "display: block" %>
    <%= form.number_field :newscore_id %>
  </div>

  <div>
    <%= form.label :mypic, style: "display: block" %>
    <%= form.text_field :mypic %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
