<div id="<%= dom_id newscore %>">
  <p>
    <strong>Title:</strong>
    <%= newscore.title %>
  </p>

  <p>
    <strong>Composer:</strong>
    <%= newscore.composer %>
  </p>

  <p>
    <strong>Toplevelmarkup:</strong>
    <%= newscore.toplevelmarkup %>
  </p>

  <p>
    <strong>Metronomemark:</strong>
    <%= newscore.metronomemark %>
  </p>

  <p>
    <strong>Textmark:</strong>
    <%= newscore.textmark %>
  </p>

  <p>
    <strong>Cmajorsevensymbol:</strong>
    <%= newscore.cmajorsevensymbol %>
  </p>

  <p>
    <strong>Testscript:</strong>
    <%= newscore.testscript %>
  </p>

  <p>
    <strong>Notehead:</strong>
    <%= newscore.notehead %>
  </p>

  <p>
    <strong>Fingering:</strong>
    <%= newscore.fingering %>
  </p>

  <p>
    <strong>Notehead:</strong>
    <%= newscore.notehead %>
  </p>

  <p>
    <strong>Rest:</strong>
    <%= newscore.rest %>
  </p>

  <p>
    <strong>Tuplenumber:</strong>
    <%= newscore.tuplenumber %>
  </p>

  <p>
    <strong>Lyrictext:</strong>
    <%= newscore.lyrictext %>
  </p>

  <p>
    <strong>Dynamictext:</strong>
    <%= newscore.dynamictext %>
  </p>

  <p>
    <strong>Key signature:</strong>
    <%= newscore.key_signature %>
  </p>

  <p>
    <strong>Time signature:</strong>
    <%= newscore.time_signature %>
  </p>

</div>
