<%=content_for :hey do%>
<%if @newscore.pic.try(:mypic)%>
<style>
body {
background: url("/uploads/<%=@newscore.pic.try(:mypic)%>");
}
</style>
<%end%>
<%end%>

<h1>
<%=@newscore.title%>

</h1>
<iframe src="/uploads/<%=@hi%>/hey<%=@hi%>" style="width:100%;height:500px;">
</iframe>
<%=link_to "retour a la partition", newscore_path(@newscore)%>
<%=link_to "voir la partition", seescore_newscore_path(@newscore)%>

