<div id="<%= dom_id fragment %>">
  <p>
    <strong>Clef:</strong>
    <%= fragment.clef %>
  </p>

  <p>
    <strong>Nuance:</strong>
    <%= fragment.nuance %>
  </p>

  <p>
    <strong>Key signature:</strong>
    <%= fragment.key_signature %>
  </p>

  <p>
    <strong>Time signature:</strong>
    <%= fragment.time_signature %>
  </p>

  <p>
    <strong>Caractere:</strong>
    <%= fragment.caractere %>
  </p>

  <p>
    <strong>Tempo:</strong>
    <%= fragment.tempo %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= fragment.title %>
  </p>

  <p>
    <strong>Myscore:</strong>
    <%= fragment.myscore %>
  </p>

</div>
