<p style="color: green"><%= notice %></p>

<%= render @fragment %>

<div>
  <%= link_to "Edit this fragment", edit_fragment_path(@fragment) %> |
  <%= link_to "create score of this fragment", createscore_fragment_path(@fragment) %> |
  <%= link_to "Back to fragments", fragments_path %>

  <%= button_to "Destroy this fragment", @fragment, method: :delete %>
</div>
